/airline-project/target/
/airline-payments/target/
/common/target/
!.mvn/wrapper/maven-wrapper.jar
/S7_Airlines_API.postman_collection.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/logs/

### Frontend(Vaadin) ###
/airline-project/src/main/java/app/controllers/view/*.ts

